* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    line-height: 1;
    font-family: sans-serif;
    width: 60%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.centered {
    text-align: center;
}